#home::before {
  background: url(../images/banner-small.jpg) no-repeat center center/cover;
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 55%,
    rgba(0, 0, 0, 0.2) 100%
  );
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 320px;
  z-index: -1;
}
#home {
  width: 100%;
  min-height: 100vh;
  position: relative;
  background-color: #f3f4f6;
  z-index: -2;
}

@media (min-width: 640px) {
  #home::before {
    background: url(../images/banner-large.jpg) no-repeat center center/cover;
    height: 370px;
  }
}
@media (min-width: 768px) {
  #home::before {
    height: 410px;
  }
}
@media (min-width: 1024px) {
  #home::before {
    height: 470px;
  }
}
@media (min-width: 1280px) {
  #home::before {
    height: 570px;
  }
}
@media (min-width: 1536px) {
  #home::before {
    height: 650px;
  }
}
